<header ng-include="'templates/headers/lararehead.html'"></header>
<div ng-init="getKlasser()">
    <div class="well text-center col-sm-12 col-md-10 col-md-offset-1">
        <h1 class="text-center">Se Moment</h1>
        <hr>
        <label class="text-center">Välj klass
            <select ng-model="selected_klass"
                    ng-init="selected_klass = larareService.getSetting('lastKlass'); getElever(selected_klass)"
                    ng-options="klass.id as klass.namn for klass in klasser"
                    ng-change="getElever(selected_klass)">
            </select>
        </label>
        <label class="text-center">Välj elev:
            <select ng-model="selected_elev"
                    ng-init="selected_elev = -1"
                    ng-options="elev.id as elev.namn for elev in elever"
                    ng-change="getMoment(selected_elev)">
            </select>
        </label>
        <br/>
        <table class='table table-bordered table-striped'>
            <tr>
                <th>Innehåll</th>
                <th>Status</th>
                <th>Radera</th>
            </tr>
            <tr ng-repeat="momenten in moment" value="{{moment.id}}" >
                <td>{{momenten.innehall}}</td>
                <td>{{parseMoment(momenten.godkand)}}</td>
                <td>
                    <a class="btn btn-default" ng-click="raderaMomentElev(momenten.moment, selected_elev)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>