<header ng-include="'templates/headers/handledarehead.html'"></header>
<div ng-init="handledareSeMoment()">
    <div class="well text-center col-sm-12 col-md-10 col-md-offset-1">
        <h1 class="text-center">{{getText("moments")}}</h1>
        <hr>
        <label ng-if="elever.length > 1" class="text-center">{{getText("elevchoice")}}
            <select ng-model="selected_elev"
                    ng-options="elev.id as elev.namn for elev in elever"
                    ng-change="showMoment(selected_elev)">
            </select>
        </label>
        <hr>
        <table class='table table-bordered table-striped'>
            <tr>
                <th>{{getText("innehall")}}</th>
                <th>{{getText("status")}}</th>
            </tr>
            <tr ng-repeat="moment in moments">
                <td>{{moment.innehall}}</td>
                <td>{{getStatus(moment.status)}}</td>
            </tr>
        </table>
    </div>
</div>