<header ng-include="'templates/headers/handledarehead.html'"></header>
<div ng-init="handledareSeMoment()">
    <div class="well text-center col-sm-12 col-md-10 col-md-offset-1">
        <h1 class="text-center">{{getText("moments")}}</h1>
        <hr>

        <table class='table table-bordered table-striped'>
            <tr>
                <th>{{getText("innehall")}}</th>
                <th>{{getText("status")}}</th>
            </tr>
            <tr ng-repeat="moment in moments">
                <td>{{moment.innehall}}</td>
                <td>{{getStatus(moment.status)}}</td>
            </tr>
        </table>
    </div>
</div>